{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <form action="">
        <label for="email_recuperacao">Email cadastrado:</label>
        <input name="email_recuperacao" required placeholder="exemplo@dominio.com" type="email">
        <button type="submit">Enviar email</button>
    </form>
    <p>Um e-mail sera enviado um email ao seu email de como recuperara sua senha</p>
</body>
</html>